html {
	font-family:sans-serif;
}
body {
	background-color:white;
	margin:0;

}

table, th, td {
	border:solid 1px black;
	border-collapse:collapse;
	padding:0.85em;
	text-align:center;
}


table {
	width:100%;
}

th {
	background-color:#fb8b1e;
	color:white;
}

.td {
	background-color:#faa857;
	color:white;
}

tbody tr:hover {
	background-color:#ffce9e;
}

